body {
    display: flex;
    margin: 0px;

    --right-column-spacing: 80px;
}

/* General column formatting */
#left-column, #right-column {
    height: 100vh;
    flex: auto;
}

/*Left Column*/
#left-column {
    /* Flex and size stuff */
    width: 40%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;


    /* Background stuff*/
    background-image: url("./images/stars.jpg");
    background-size: cover;
}

#left-column > div {
    color: white;
}

#left-column > div > a{
    color: white;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo > img {
    width: 133px;
    height: 75px;
}

.logo {
    background-color: rgba(255, 255, 255, 0.2);
    margin-top: 250px;
}

/*Right column*/
#right-column {
    /* Flex and size stuff */
    width: 60%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    /*Background*/
    background-color: rgb(230, 230, 230);
}

#right-column p {
    /*Spacing*/
    
    margin-left: var(--right-column-spacing);
    margin-right: var(--right-column-spacing);

    /*Font*/
    font-size: 1.05rem;
    font-weight: bold;
}


/*Form*/
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    background-color: white;
    padding: 10px;

    box-shadow: gray 1px 1px 5px;
}

.form-container-row {
    display: flex;
    gap: 30px;

    margin-left: var(--right-column-spacing);
}

form > div > div {
    display: flex;
    flex-direction: column;
}

input:invalid {
    border: 2px solid red;
}

input:focus {
    border: 2px solid rgb(32, 186, 238);
    box-shadow: black 2px 2px 5px;
}

button {
    padding: 10px;
    margin-left: var(--right-column-spacing);
    margin-top: 20px;
    width: 150px;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
}

button:active {
    color: white;
    background-color: black;
}